{
  "openapi": "3.0.1",
  "info": {
    "title": "悦康开放平台 OPEN-API SPECIFICATION",
    "description": "LINKEDCARE YRONG MEDICAL COSMETIC SAAS OPEN PLATFORM - API SPECIFICATION",
    "contact": {
      "name": "悦康开放平台团队",
      "url": "https://www.linkedcare.cn",
      "email": "support@linkedcare.cn"
    },
    "license": {
      "name": "商业许可",
      "url": "https://www.linkedcare.cn"
    },
    "version": "1.8.1-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://emuat01-ym-openapi-svc.lcuat.cn",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "x-access-token": []
    }
  ],
  "tags": [
    {
      "name": "01. 基础安全机制",
      "description": "获取API访问所需要的关键信息，用以支持三方集成"
    },
    {
      "name": "02. 基础运营数据",
      "description": "API获取基础运营数据：组织结构、人员、角色、渠道等，用以支持三方集成"
    },
    {
      "name": "03. 产品类目数据",
      "description": "API获取基础类目数据，用以支持三方集成"
    },
    {
      "name": "04. 诊疗服务流程",
      "description": "获取API同步诊疗服务流程数据，用以支持三方集成"
    },
    {
      "name": "05. 客户关系管理",
      "description": "获取API访问所需要的客户相关数据，用以支持三方集成"
    },
    {
      "name": "06. 销售财务数据",
      "description": "API获取权益数据，用以支持三方集成"
    },
    {
      "name": "07. 市场营销集成",
      "description": "获取API访问所需要的市场营销数据，用以支持三方集成"
    },
    {
      "name": "08. 库存物料集成",
      "description": "获取API同步供应链数据，用以支持三方集成"
    },
    {
      "name": "10. 业务事件订阅",
      "description": "订阅业务变更数据，用以支持三方集成近实时同步/通知"
    },
    {
      "name": "11. 电子健康档案",
      "description": "获取API同步医疗电子健康档案数据，用以支持三方集成"
    },
    {
      "name": "12. 云晰系统集成",
      "description": "云晰直播业务流程集成定制接口"
    },
    {
      "name": "X1. 业务报表数据",
      "description": "API获取核心报表数据，用以支持三方集成"
    },
    {
      "name": "X2. SCRM集成服务",
      "description": "通过API与SCRM进行集成"
    }
  ],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "01. 基础安全机制"
        ],
        "summary": "根据注册的APPID获取访问令牌（Token）",
        "description": "Access Token 会在指定时间(一般30分钟)内过期，需要及时更新，或者重新获取",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLoginParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "01. 基础安全机制"
        ],
        "summary": "在访问令牌（Token）过期之前，使用临时ticket更新令牌，可避免secret泄漏",
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRefreshParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/foundation/channel": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的客户渠道信息",
        "operationId": "findReferrerPaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "是否包含禁用",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否包含禁用"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字（二级渠道名称）",
            "required": false,
            "schema": {
              "type": "string",
              "description": "关键字（二级渠道名称）"
            }
          },
          {
            "name": "channelCategoryId",
            "in": "query",
            "description": "渠道分类ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "渠道分类ID"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "一级渠道ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "一级渠道ID"
            }
          },
          {
            "name": "referrerId",
            "in": "query",
            "description": "二级渠道ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "二级渠道ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageReferrerDetailDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "在指定层级下创建渠道新节点",
        "operationId": "createChannel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/channel/partial/{type}/{id}": {
      "put": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "部分修改指定渠道节点",
        "operationId": "partialModifyChannel",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "channel|referrer",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialModifyChannelParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/channel/{type}/{id}": {
      "delete": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "删除指定层级的指定渠道节点",
        "operationId": "deleteChannel",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "channelCategory|channel|referrer",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/channel/{type}/{id}/active": {
      "put": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "改变指定渠道节点(不包含分类)启用状态",
        "operationId": "activeChannel",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "channel|referrer",
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveChannelParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/clinic": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的诊所信息",
        "operationId": "findClinicAll",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字：编号/名称",
            "required": false,
            "schema": {
              "type": "string",
              "description": "关键字：编号/名称"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/clinic/{id}": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "根据ID获取诊所信息",
        "operationId": "loadClinic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/clinic/{id}/room": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "查找指定诊所的治疗房间、手术房间",
        "operationId": "findClinicRoom",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoomDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/code/{system}": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的指定字典数据",
        "operationId": "findCodedValuesAll",
        "parameters": [
          {
            "name": "system",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCodeValueDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/department": {
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "在授权机构下新增组织节点 - 部门",
        "operationId": "createClinic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepartmentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/download/{fileId}": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "下载文件接口",
        "operationId": "download",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/employee": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的员工信息",
        "operationId": "findEmployeePaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字：姓名/员工号/手机",
            "required": false,
            "schema": {
              "type": "string",
              "description": "关键字：姓名/员工号/手机"
            }
          },
          {
            "name": "clinicId",
            "in": "query",
            "description": "所在诊所ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "所在诊所ID"
            }
          },
          {
            "name": "onboard",
            "in": "query",
            "description": "在离职标识，true代表在职，false代表离职,不填代表查询在职",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "在离职标识，true代表在职，false代表离职,不填代表查询在职"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageEmployeeDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "在授权机构下创建员工",
        "operationId": "createEmployee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/employee/{id}": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的指定员工信息",
        "operationId": "findEmployee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "put": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "修改员工信息",
        "operationId": "modifyEmployee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyEmployParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/employee/{id}/roles": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的指定员工功能权限",
        "operationId": "findEmployeeRolePermissions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeRolesDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/employeeBase/{id}": {
      "put": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "修改员工基础信息",
        "operationId": "modifyEmployeeBase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyEmployBaseParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/job": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的员工职位角色信息",
        "operationId": "findJobAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobRoleDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/logo": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构的logo(Base64格式，空代表未设置)",
        "operationId": "findLogo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StringData"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/medical-department": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下医疗科室信息",
        "operationId": "listMedicalDepartment",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicalDepartmentDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/organization": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的组织架构，包括公司、区域、诊所、部门",
        "operationId": "findOrganizationAll",
        "responses": {
          "500": {
            "description": "API访问错误",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInfoDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/role": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下的员工功能角色信息",
        "operationId": "findRoleAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SecurityRoleDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/role/{id}": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取授权机构下指定功能角色信息",
        "operationId": "findRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityRoleDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/tagDict/create": {
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "创建标签",
        "operationId": "tagDictCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TagCreateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/tagDict/group/create": {
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "创建标签组",
        "operationId": "tagDictGroupCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagGroupCreateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TagGroupCreateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/tagDict/group/update": {
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "修改标签组",
        "operationId": "tagDictGroupUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagGroupUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/tagDict/update": {
      "post": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "修改标签",
        "operationId": "tagDictUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/foundation/tagSets": {
      "get": {
        "tags": [
          "02. 基础运营数据"
        ],
        "summary": "获取标签信息",
        "operationId": "findTagSets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagSetDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/category": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "指定类型下创建分类新节点 - 各类型通用",
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/category/goods/tree": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的物料类数据分类(树状结构)",
        "operationId": "findGoodsCategoryPaged",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/category/service/tree": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的服务类项目分类(树状结构)",
        "operationId": "findServiceCategoryTree",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/category/{id}": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取指定ID分类节点 - 各类型通用",
        "operationId": "loadCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "put": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改指定ID分类节点 - 各类型通用",
        "operationId": "modifyCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyCategoryParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "删除指定ID分类节点 - 各类型通用",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/clinic-sales-price/list": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "查询项目/商品下发",
        "operationId": "listProductClinicSalesPrice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryProductSalesPriceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductClinicSalesPriceDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/clinic-sales-price/update": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改项目/商品下发",
        "operationId": "updateProductClinicSalesPrice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductClinicSalesPriceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/goods": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的物料类数据 - 耗材、药品、药妆等受库存管控条目",
        "operationId": "findGoodsPaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字：编号/条形码/名称/拼音码/标准编码",
            "required": false,
            "schema": {
              "type": "string",
              "description": "关键字：编号/条形码/名称/拼音码/标准编码"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "所属类别ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "所属类别ID"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "是否有效，默认：是",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否有效，默认：是"
            }
          },
          {
            "name": "isPharmacy",
            "in": "query",
            "description": "是否药品，默认：否",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否药品，默认：否"
            }
          },
          {
            "name": "businessTypeCodes",
            "in": "query",
            "description": "业态标识code",
            "required": false,
            "schema": {
              "type": "array",
              "description": "业态标识code",
              "items": {
                "type": "string",
                "description": "业态标识code"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProductSkuDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "新建物料类数据",
        "operationId": "createGoods",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProdSpecParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/goods/{id}": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的物料类数据 - 耗材、药品、药妆等受库存管控条目",
        "operationId": "findGoodsPaged_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSkuDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "put": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改物料类数据",
        "operationId": "activeGoods",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyProdSpecParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/goods/{id}/active": {
      "put": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "停用、启用物料类数据",
        "operationId": "activeGoods_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的服务类项目数据 - 服务项目",
        "operationId": "findServicePaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "项目id列表",
            "required": false,
            "schema": {
              "type": "array",
              "description": "项目id列表",
              "items": {
                "type": "string",
                "description": "项目id列表"
              }
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字：编号/名称/拼音码/规格",
            "required": false,
            "schema": {
              "type": "string",
              "description": "关键字：编号/名称/拼音码/规格"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "所属类别ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "所属类别ID"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "是否有效 - 默认：是",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否有效 - 默认：是"
            }
          },
          {
            "name": "businessTypeCodes",
            "in": "query",
            "description": "业态标识code",
            "required": false,
            "schema": {
              "type": "array",
              "description": "业态标识code",
              "items": {
                "type": "string",
                "description": "业态标识code"
              }
            }
          },
          {
            "name": "liveShowFilter",
            "in": "query",
            "description": "是否可直播售卖",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否可直播售卖",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCareServiceDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "新建服务项目数据",
        "operationId": "createService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/addMaterial": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "添加项目的使用耗材",
        "operationId": "addCareServiceMaterial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCareServiceMaterialParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/addOperator": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "添加项目的操作人员",
        "operationId": "addCareServiceOperator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCareServiceOperatorParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/addStep": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "添加项目的操作步骤",
        "operationId": "addCareServiceStep",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCareServiceStepParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/deleteMaterial": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "删除项目的使用耗材",
        "operationId": "deleteCareServiceMaterial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCareServiceMaterialParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/deleteOperator": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "删除项目的操作人员",
        "operationId": "deleteCareServiceOperator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCareServiceOperatorParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/deleteStep": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "删除项目的操作步骤",
        "operationId": "deleteCareServiceStep",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCareServiceStepParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/findExecutionRole": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "查询操作人员职位",
        "operationId": "findExecutionRole",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionRoleDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/getOperationStepDictPageList": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "查询操作步骤",
        "operationId": "getOperationStepDictPageList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "根据步骤名称搜索",
            "required": false,
            "schema": {
              "type": "string",
              "description": "根据步骤名称搜索"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageOperationStepDictListDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/price-rule": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的服务类项目数据 - 服务项目价格规则",
        "operationId": "findServicePriceRule",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "项目id列表, 不填写时，查询全部项目",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCareServicePriceRuleDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/price-rule/update": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改服务类项目价格规则",
        "operationId": "updateServicePriceRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCareServicePriceRuleParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CareServicePriceRuleModifyResultDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/updateMaterial": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改项目的使用耗材",
        "operationId": "updateCareServiceMaterial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCareServiceMaterialParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/updateOperator": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改项目的操作人员",
        "operationId": "updateCareServiceOperator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCareServiceOperatorParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/updateStep": {
      "post": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "修改项目的操作步骤",
        "operationId": "updateCareServiceStep",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCareServiceStepParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/{id}": {
      "get": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "获取授权机构下的服务类项目数据 - 单个项目",
        "operationId": "loadServiceById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CareServiceDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "put": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "根据服务项目id更新服务项目",
        "operationId": "modifyService",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyServiceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/catalog/product/service/{id}/active": {
      "put": {
        "tags": [
          "03. 产品类目数据"
        ],
        "summary": "暂停/启用服务项目",
        "operationId": "activeService",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/appointment": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取授权机构下的预约数据 - 列表",
        "operationId": "findAppointmentPaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "clinicId",
            "in": "query",
            "description": "诊所Id",
            "required": false,
            "schema": {
              "type": "string",
              "description": "诊所Id"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "顾客ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "顾客ID"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "开始日期 - 包含该日期，如 2018-11-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "开始日期 - 包含该日期，如 2018-11-11",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "结束日期 - 包含该日期，如 2018-12-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "结束日期 - 包含该日期，如 2018-12-11",
              "format": "date-time"
            }
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "医生/辅助人员ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "医生/辅助人员ID"
            }
          },
          {
            "name": "serviceKeyword",
            "in": "query",
            "description": "项目关键字",
            "required": false,
            "schema": {
              "type": "string",
              "description": "项目关键字"
            }
          },
          {
            "name": "cancelled",
            "in": "query",
            "description": "是否包含已取消(默认-否)",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否包含已取消(默认-否)"
            }
          },
          {
            "name": "careClass",
            "in": "query",
            "description": "预约类型(first,recurring,check,procedure,consume)",
            "required": false,
            "schema": {
              "type": "array",
              "description": "预约类型(first,recurring,check,procedure,consume)",
              "items": {
                "type": "string",
                "description": "预约类型(first,recurring,check,procedure,consume)"
              }
            }
          },
          {
            "name": "specialty",
            "in": "query",
            "description": "就诊类型(参考系统配置/字典管理)",
            "required": false,
            "schema": {
              "type": "array",
              "description": "就诊类型(参考系统配置/字典管理)",
              "items": {
                "type": "string",
                "description": "就诊类型(参考系统配置/字典管理)"
              }
            }
          },
          {
            "name": "operatorId",
            "in": "query",
            "description": "创建人",
            "required": false,
            "schema": {
              "type": "string",
              "description": "创建人"
            }
          },
          {
            "name": "createStart",
            "in": "query",
            "description": "创建日期 - 开始，如 2018-11-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "创建日期 - 开始，如 2018-11-11",
              "format": "date-time"
            }
          },
          {
            "name": "createEnd",
            "in": "query",
            "description": "创建日期 - 结束，如 2018-12-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "创建日期 - 结束，如 2018-12-11",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageAppointmentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "创建预约",
        "operationId": "createAppointment_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppointmentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/appointment/getAppointmentFreeList": {
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取预约空闲时间段",
        "operationId": "getAppointmentFreeList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentFreeParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentFreeDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/appointment/{id}": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取授权机构下的预约数据 - 单个",
        "operationId": "findAppointmentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/appointment/{id}/cancel": {
      "put": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "取消预约",
        "operationId": "cancelAppointment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAppointmentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/appointment/{id}/confirm": {
      "put": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "确认预约",
        "operationId": "confirmAppointment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConformAppointmentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/appointment/{id}/partial": {
      "put": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "修改预约",
        "operationId": "modifyAppointment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyAppointmentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/archives/document/upload": {
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "上传档案文件",
        "operationId": "documentUpload",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "客户ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryType",
            "in": "query",
            "description": "文件类型(检测报告:TestReport,诊断结果:diagnosisResults,处方:prescription,病历:medicalecord,知情同意书:informedConsent)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "TestReport",
                "diagnosisResults",
                "prescription",
                "medicalecord",
                "informedConsent"
              ]
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "门店Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/consultation": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取授权机构下的咨询数据",
        "operationId": "findConsultationPaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "clinicId",
            "in": "query",
            "description": "诊所Id",
            "required": false,
            "schema": {
              "type": "string",
              "description": "诊所Id"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "顾客ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "顾客ID"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "开始日期 - 包含该日期，如 2018-11-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "开始日期 - 包含该日期，如 2018-11-11",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "结束日期 - 包含该日期，如 2018-12-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "结束日期 - 包含该日期，如 2018-12-11",
              "format": "date-time"
            }
          },
          {
            "name": "methodCodes",
            "in": "query",
            "description": "咨询方式代码 - 列表",
            "required": false,
            "schema": {
              "type": "array",
              "description": "咨询方式代码 - 列表",
              "items": {
                "type": "string",
                "description": "咨询方式代码 - 列表"
              }
            }
          },
          {
            "name": "associatedId",
            "in": "query",
            "description": "相关人ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "相关人ID"
            }
          },
          {
            "name": "creatorId",
            "in": "query",
            "description": "创建人ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "创建人ID"
            }
          },
          {
            "name": "deal",
            "in": "query",
            "description": "是否成交",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否成交"
            }
          },
          {
            "name": "arrive",
            "in": "query",
            "description": "是否到访",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否到访"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultationDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "创建咨询",
        "operationId": "createConsultation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsultationParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/modify/consultation": {
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "修改咨询",
        "operationId": "modifyConsultation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyConsultationParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/participant/status": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取授权机构下的现场人员空闲状态 - Experimental",
        "operationId": "listOperatorStatus",
        "parameters": [
          {
            "name": "clinicId",
            "in": "query",
            "description": "诊所Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "诊所Id"
            }
          },
          {
            "name": "roleCode",
            "in": "query",
            "description": "角色代码",
            "required": true,
            "schema": {
              "pattern": "consultant|doctor",
              "type": "string",
              "description": "角色代码",
              "enum": [
                "consultant",
                "doctor"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParticipantStatusDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/photoCompares": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取前后对比照数据",
        "operationId": "findPhotoCompares",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "客户ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "客户ID"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "机构ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "机构ID"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "schema": {
              "type": "string",
              "description": "开始时间",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "schema": {
              "type": "string",
              "description": "结束时间",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagePhotoCompareDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/schedule": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "分页获取授权机构下的排班数据",
        "operationId": "ListSchedule",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "开始日期 - 包含该日期，如 2018-11-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "开始日期 - 包含该日期，如 2018-11-11",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "结束日期 - 包含该日期，如 2018-12-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "结束日期 - 包含该日期，如 2018-12-11",
              "format": "date-time"
            }
          },
          {
            "name": "clinicId",
            "in": "query",
            "description": "诊所ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "诊所ID"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "员工ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "员工ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageScheduleItemDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "在授权机构下创建排班",
        "operationId": "createSchedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScheduleParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/schedule-rule": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "分页获取授权机构下的班次信息",
        "operationId": "ListScheduleRule",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "clinicId",
            "in": "query",
            "description": "诊所ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "诊所ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageScheduleRuleDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "在授权机构下创建班次",
        "operationId": "createScheduleRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScheduleRuleParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/schedule-rule/{id}": {
      "put": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "在授权机构下修改班次",
        "operationId": "updateScheduleRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduleRuleParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/sign-in": {
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "创建签到",
        "operationId": "createSignIn",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SignInDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/visit": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "获取授权机构下的到访数据",
        "operationId": "findVisitPaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "clinicId",
            "in": "query",
            "description": "诊所Id",
            "required": false,
            "schema": {
              "type": "string",
              "description": "诊所Id"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "顾客ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "顾客ID"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "开始日期 - 包含该日期，如 2018-11-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "开始日期 - 包含该日期，如 2018-11-11",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "结束日期 - 包含该日期，如 2018-12-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "结束日期 - 包含该日期，如 2018-12-11",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态",
            "required": false,
            "schema": {
              "type": "string",
              "description": "状态",
              "enum": [
                "in",
                "out"
              ]
            }
          },
          {
            "name": "appointmentId",
            "in": "query",
            "description": "预约ID",
            "required": false,
            "schema": {
              "type": "string",
              "description": "预约ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageVisitDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "创建到访",
        "operationId": "createAppointment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVisitParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/visit/customer-info": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "到访客户信息",
        "operationId": "todayVisitCustomerInfo",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "query",
            "description": "会员号",
            "required": false,
            "schema": {
              "type": "string",
              "description": "会员号"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "schema": {
              "type": "string",
              "description": "手机号码"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResultTodayVisitCustomerDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/workflow/visit/{customerId}/operation/token": {
      "get": {
        "tags": [
          "04. 诊疗服务流程"
        ],
        "summary": "到访操作token",
        "operationId": "findOperationToken",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/crm/customer": {
      "get": {
        "tags": [
          "05. 客户关系管理"
        ],
        "summary": "获取授权机构下的客户数据",
        "operationId": "findCustomerPaged",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "开始日期 - 包含该日期，如 2018-11-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "开始日期 - 包含该日期，如 2018-11-11",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "结束日期 - 包含该日期，如 2018-12-11",
            "required": false,
            "schema": {
              "type": "string",
              "description": "结束日期 - 包含该日期，如 2018-12-11",
              "format": "date-time"
            }
          },
          {
            "name": "birthday",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Birthday"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字: 姓名/手机号/会员号/病历号/证件号",
            "required": false,
            "schema": {
              "type": "string",
              "description": "关键字: 姓名/手机号/会员号/病历号/证件号"
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "客户分群分组Id - 列表",
            "required": false,
            "schema": {
              "type": "array",
              "description": "客户分群分组Id - 列表",
              "items": {
                "type": "string",
                "description": "客户分群分组Id - 列表"
              }
            }
          },
          {
            "name": "secondLevelChannelId",
            "in": "query",
            "description": "二级渠道Id",
            "required": false,
            "schema": {
              "type": "string",
              "description": "二级渠道Id"
            }
          },
          {
            "name": "queryBinding",
            "in": "query",
            "description": "是否包含绑定关系",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否包含绑定关系"
            }
          },
          {
            "name": "includeUnbound",
            "in": "query",
            "description": "是否包含已解绑的关系 - 仅包含绑定查询时生效",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否包含已解绑的关系 - 仅包含绑定查询时生效"
            }
          },
          {
            "name": "bindingType",
            "in": "query",
            "description": "指定绑定类型 - 仅包含绑定查询时生效",
            "required": false,
            "schema": {
              "type": "string",
              "description": "指定绑定类型 - 仅包含绑定查询时生效",
              "enum": [
                "wx",
                "minpro",
                "h5",
                "line",
                "facebook"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCustomerDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      },
      "post": {
        "tags": [
          "05. 客户关系管理"
        ],
        "summary": "在授权机构下创建新客户",
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/crm/customer/findByMobile": {
      "get": {
        "tags": [
          "05. 客户关系管理"
        ],
        "summary": "根据手机号码查询客户数据",
        "operationId": "findByMobile",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码(从0开始)",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "分页大小(默认20)",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "schema": {
              "type": "string",
              "description": "手机号码"
            }
          },
          {
            "name": "queryBinding",
            "in": "query",
            "description": "是否包含绑定关系",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否包含绑定关系"
            }
          },
          {
            "name": "includeUnbound",
            "in": "query",
            "description": "是否包含已解绑的关系 - 仅包含绑定查询时生效",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "是否包含已解绑的关系 - 仅包含绑定查询时生效"
            }
          },
          {
            "name": "bindingType",
            "in": "query",
            "description": "指定绑定类型 - 仅包含绑定查询时生效",
            "required": false,
            "schema": {
              "type": "string",
              "description": "指定绑定类型 - 仅包含绑定查询时生效",
              "enum": [
                "wx",
                "minpro",
                "h5",
                "line",
                "facebook"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCustomerDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/crm/customer/getOperatorLog": {
      "post": {
        "tags": [
          "05. 客户关系管理"
        ],
        "summary": "查询客户修改日志",
        "operationId": "getOperatorLog",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operatorBeginDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operatorEndDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskSnapshotOperateLogVo"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-access-token": []
          }
        ]
      }
    },
    "/api/v1/crm/customer/gift/add": {
      "post": {
        "tags": [
          "05. 客户关系管理"
        ],
        "summary": "增值金调整",
        "operationId": "addGift",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddGiftReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
[...]
